body{
    background-color: rgb(186, 197, 218);
   
}
header{
    .container{
        @include cont;
        padding-top: 20px;
        padding-bottom: 20px;
        
        justify-content: space-between;
        justify-content: center;
       h1{
          margin-right: 55px;
          font-size: 25px;
        }
        .aboutus:hover{
            color: rgb(68, 99, 126);
        }
       .aboutus{
    
        margin-right: 32px;
        font-size: 25px;
        color: rgb(24, 24, 30);
       }
       .contact:hover{
        color: rgb(68, 99, 126);
       }
       .contact{
        margin-right: 32px;
        font-size: 25px;
        color: rgb(24, 24, 30);
       }.news:hover{
        color: rgb(68, 99, 126);
       }
       .news{
        margin-right: 32px;
        font-size: 25px;
        color: rgb(24, 24, 30);
       }
       }
}
   input{
    border-radius: 10px;
    font-size: 18px;
    background-color: rgb(211, 205, 226);
    vertical-align: bottom;
    .material-symbols-outlined {
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
     
      }
   }

::placeholder{
    padding: 6px 8px;
  
}



    .material-symbols-outlined {
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
        margin-left: 20px;
        cursor: pointer;
        vertical-align: bottom;
      }
// -----------------------------------------------------header-------------------------------------------------------------
.s-1{
    width: 100%;
    height: 450px;
    .container{
        @include cont;
        position: relative;
        text-align: center;
        img{
            width: 100%;
            height: 450px;
            border-radius: 10px;
            opacity: 0.8;
          
           }
           
           .p-1{
            font-size: 44px;
            position: absolute;
            top: 125px;
                left: 30px;
                color: rgb(255, 255, 255);
            }
            .p-2{
              font-size: 44px;
              position: absolute;
              top: 185px;
              left: 30px;
                color: rgb(255, 255, 255);
            }
         
        
    
}
}
// -----------------------------------------------done s-1---------------------------------------------------------------------

.s-2{
    margin-top: 30px;
    .container{
        @include cont;
.test{
    mix-blend-mode: multiply;
}
        .card{
          
            background-color: rgb(162, 170, 224);
            width: 100%;
            border-radius: 10px;
              
              .txt{
                font-size: 30px ;
                padding: 45px 90px;
              }
            .circles{
                display: flex;
                gap: 6px;
                justify-content: center;
                padding-bottom: 20px;
                .circle1{
                    width: 16px;
                    height: 16px;
                    border: 2px solid black;
                    background-color: rgb(50, 50, 50); 
                    border-radius: 12px; 
                    // margin: 20px 500px;
                 }
                 .circle2{
                    
                    width: 16px;
                    height: 16px;
                    border: 2px solid black;
                    border-radius: 12px;
                  
                 }
                 .circle3{
                    width: 16px;
                    height: 16px;
                    border: 2px solid black;
                    border-radius: 12px;
                 }
            }
        }
       
         .incard{
            display: flex;
            border-radius: 10px;
             max-width: 750px;
             width: 40%;
            
             margin: 0 auto;
             background-color: rgb(50, 46, 85);
             margin-top: 15px;
             .cardp{
               color: antiquewhite;
                margin: 0 auto;
                font-size: 24px;
                padding-top: 6px;
                padding-bottom: 6px;
            }
     }
  }
}


.s-3{
    margin-top: 40px;
    .container1{
        @include cont;
        .image{
            width: 450px;
            opacity: 0.8;
            border-radius: 12px;
        }
       .cardtxt{
        flex-direction: column;
        .txt1{
            font-size: 50px;
            margin-left: 90px;
            
        }
        .story{
            font-size: 28px;
            margin-left: 90px;
            margin-top: 30px;
            margin-bottom: 30px;
        }
        a{
            color: rgb(229, 230, 213);
            border-radius: 5px;
            margin-left: 90px;
            font-size: 18px;
            background-color: rgb(14, 24, 67);
            padding: 3px;
        }
       }
    }
}


.s-4part1{
    margin-top: 40px;
    .container4{
        @include cont;
        .s4card{
            display: flex;
            border-radius: 10px;
            max-width: 750px;
            width: 40%;
            margin: 0 auto;
            background-color: rgb(50, 46, 85);
            margin-top: 15px;
            .s4title{
                color: antiquewhite;
                margin: 0 auto;
                font-size: 24px;
                padding-top: 6px;
                padding-bottom: 6px;
            }
        }
}
}
.s-4part2{
    
    margin-top: 35px;
    .container4{
        
        @include cont;
        justify-content: space-between;
        .card1{
            display: flex;
            flex-direction: column;
            img{
                border-radius: 10px;
               width: 300px;
               height: 400px;
            }
          .p1{
            margin: 0 auto;
            font-size: 27px;
            margin-bottom: 5px;
          }
          .p2{
            width: 300px;
            font-size: 17px;
          }
        }
        .card2{
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            img{
                border-radius: 10px;
               width: 300px;
               height: 400px;
            }
            .p1{
                margin: 0 auto;
                font-size: 27px;
                margin-bottom: 5px;
              }
              .p2{
                width: 300px;
                font-size: 17px;
              }
        }
        .card3{
            display: flex;
            flex-direction: column;
            img{
                
                border-radius: 10px;
               width: 300px;
               height: 400px;
            }
            .p1{
                margin: 0 auto;
                font-size: 27px;
                margin-bottom: 5px;
              }
              .p2{
                width: 300px;
                font-size: 15px;
              }
            
        }
    }
}
footer{
    margin-top: 30px;
    height: 200px;
    background-color: rgb(3, 3, 49);
    .container{
        @include cont;
        .p{
            display: flex;
            .footerp1{
                font-size: 34px;
                color: aliceblue;
             
            }
        }
    }
       
        
    
}