/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(186, 197, 218);
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  justify-content: center;
}
.container h1 {
  margin-right: 55px;
  font-size: 25px;
}
.container .aboutus {
  margin-right: 32px;
  font-size: 25px;
  color: rgb(24, 24, 30);
}
.container .contact {
  margin-right: 32px;
  font-size: 25px;
  color: rgb(24, 24, 30);
}

input {
  border-radius: 10px;
  font-size: 18px;
  background-color: rgb(211, 205, 226);
}
input .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

::-moz-placeholder {
  padding: 6px 8px;
}

::placeholder {
  padding: 6px 8px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  margin-left: 20px;
  cursor: pointer;
}

.s-1 {
  width: 100%;
  height: 450px;
}
.s-1 .container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  position: relative;
  text-align: center;
}
.s-1 .container img {
  width: 100%;
  height: 450px;
  border-radius: 10px;
  opacity: 0.8;
}
.s-1 .container .p-1 {
  font-size: 44px;
  position: absolute;
  top: 125px;
  left: 30px;
  color: rgb(255, 255, 255);
}
.s-1 .container .p-2 {
  font-size: 44px;
  position: absolute;
  top: 185px;
  left: 30px;
  color: rgb(255, 255, 255);
}

.s-2 {
  margin-top: 30px;
}
.s-2 .container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  display: flex;
}
.s-2 .container .card {
  background-color: rgb(162, 170, 224);
  width: 100%;
  border-radius: 10px;
}
.s-2 .container .card .txt {
  font-size: 30px;
  padding: 45px 90px;
}
.s-2 .container .card .circles {
  display: flex;
  gap: 6px;
  justify-content: center;
  padding-bottom: 20px;
}
.s-2 .container .card .circles .circle1 {
  width: 16px;
  height: 16px;
  border: 2px solid black;
  background-color: rgb(50, 50, 50);
  border-radius: 12px;
}
.s-2 .container .card .circles .circle2 {
  width: 16px;
  height: 16px;
  border: 2px solid black;
  border-radius: 12px;
}
.s-2 .container .card .circles .circle3 {
  width: 16px;
  height: 16px;
  border: 2px solid black;
  border-radius: 12px;
}
.s-2 .container .incard {
  display: flex;
  border-radius: 10px;
  max-width: 750px;
  width: 40%;
  margin: 0 auto;
  background-color: rgb(50, 46, 85);
  margin-top: 15px;
}
.s-2 .container .incard .cardp {
  color: rgb(255, 241, 223);
  margin: 0 auto;
  font-size: 24px;
  padding-top: 6px;
  padding-bottom: 6px;
}/*# sourceMappingURL=global.css.map */