body{
    background-color: rgb(186, 197, 218);
   
}
header{
    .container{
        @include cont;
        padding-top: 20px;
        padding-bottom: 20px;
        
        justify-content: space-between;
        justify-content: center;
       .headertitle{
          margin-right: 55px;
          font-size: 25px;
          color: black;
        }
        .aboutus:hover{
            color: rgb(68, 99, 126);
        }
       .aboutus{
    
        margin-right: 32px;
        font-size: 25px;
        color: rgb(24, 24, 30);
       }
       .contact:hover{
        color: rgb(68, 99, 126);
       }
       .contact{
        margin-right: 32px;
        font-size: 25px;
        color: rgb(24, 24, 30);
       }.news:hover{
        color: rgb(68, 99, 126);
       }
       .news{
        margin-right: 32px;
        font-size: 25px;
        color: rgb(24, 24, 30);
       }
       }
       
       .input{
        outline:none;
        width: 450px;
        border-radius: 10px;
        font-size: 19px;
        background-color: rgb(211, 205, 226);
        vertical-align: bottom;
        
       }
    
    ::placeholder{
        padding: 6px 8px;
      
    }
    
    
    
        .material-symbols-outlined {
            font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24;
            margin-left: 20px;
            cursor: pointer;
            vertical-align: bottom;
          }
        }